.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #0d8050; /* Change the color to your desired color */
  padding: 20px;
  text-align: center;
  color: #fff;
}

.footer {
  background-color: #0d8050;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.footer-text {
  margin: 5px;
  font-size: 14px;
  color: #fff;
}

.navbar {
  background-color: #8bc34a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar-logo h1 {
  margin: 0;
  font-size: 1.5rem;
}

.navbar-links a {
  margin-left: 10px;
  text-decoration: none;
  color: #000;
}

.content {
  padding: 20px;
}

/* Additional styling for active link */
.navbar-links a.active {
  font-weight: bold;
}

/* Login Container */

.login-container {
  background-color: #fff;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  text-align: left;
}

.login-container h2 {
  margin-bottom: 10px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  margin-top: 10px; 
}

input[type='text'],
input[type='password'] {
  padding: 5px;
  width: 180px;
}
.login-button {
  padding: 10px 20px;
  background-color: #8bc34a;
  color: #fff;
  border: none;
  cursor: pointer;
  display: block; 
  margin-top: 10px;

}

.login-button:hover {
  background-color: #689f38;
}

button {
  padding: 10px 20px;
  background-color: #8bc34a;
  color: #fff;
  border: none;
  cursor: pointer;

}

button:hover {
  background-color: #689f38;
}

/* App.css */

/* Welcome Component */
.welcome {
  text-align: center;
  margin-top: 20px;
}

.welcome h2 {
  margin-bottom: 10px;
}

.welcome p {
  margin-bottom: 20px;
}

/* Survey */

.start-survey {
  padding: 10px 20px;
  background-color: #8bc34a;
  color: #fff;
  border: none;
  cursor: pointer;
}

.start-survey:hover {
  background-color: #689f38;
}


/* Styling the Form (Color, Padding, Shadow) */
.survey-container {
  background-color: #fff;
  max-width: 800px; 
  margin: 50px auto;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Styling survey-form class */
.survey-form {
  text-align: left;
}

/* Styling form-control Class */
.form-control {
  margin-bottom: 25px;
}

/* Styling form-label Class */
.form-label {
  display: block;
  margin-bottom: 10px;
}

/* Styling form-input Class */
.form-input {
  border: 1px solid #777;
  border-radius: 2px;
  font-family: inherit;
  padding: 10px;
  display: block;
  width: 90%;
}

/* Styling form-submit Class */
.form-submit {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-end;
}

/* Styling survey-title Class */
.survey-title {
  margin-top: 0;
}

/* Styling checkbox label to be inline */
.form-control label {
  display: inline-block;
  margin-right: 10px;
}

/* Styling checkbox input to be inline */
.form-control input[type="checkbox"] {
  display: inline-block;
  width: auto;
}